/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

a {
  mutline: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a:link {
  border: 0!important;
  text-decoration: none !important;
  color: #5dc0ee;
}

a:hover, a:focus, a:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  border: 0!important;
  text-decoration: none !important;
  color: #5dc0ee;
}

a.no-mark-external {
  border: 0!important;
  text-decoration: none !important;
}

a:visited {
  color: #5dc0ee;
}

a.md-header {
  color: purple;
}

a.md-nav__link,a.md-nav__link:visited,a.md-nav__link:active {
  color: green;
}

a.md-nav__list,a.md-nav__list:visited,a.md-nav__list:active {
  text-decoration: 0!important;
  color: inherit;
}

a.md-nav__link,a.md-nav__link:visited,a.md-nav__link:active {
  color: inherit;
}

a.md-nav,a.md-nav:visited,a.md-nav:active {
  color: yellow;
}

