:root {
    --md-admonition-icon--console: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 896"><path d="M831 127H63c-35.35 0-64 28.65-64 64v640c0 35.35 28.65 64 64 64h768c35.35 0 64-28.65 64-64V191C895 155.64999999999998 866.35 127 831 127zM127 575l128-128L127 319l64-64 192 192L191 639 127 575zM639 639H383v-64h256V639z" /></svg>')
  }
  .md-typeset .admonition.console,
  .md-typeset details.console {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .console > .admonition-title,
  .md-typeset .console > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .console > .admonition-title::before,
  .md-typeset .console > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--console);
            mask-image: var(--md-admonition-icon--console);
  }
  
  