/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: #212536;
    color: whitesmoke;
    cursor: pointer;
    padding: 7px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 2s;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
   /* background-color: #212536; */
   background-color: #535b78;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\271A';
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2B58";
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 5px;
    font-size: 13px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}
